.team {
  background-color: $bg-section-team;
  padding: 94px;
}
.team-items {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  &__icons {
    display: flex;
    width: 20px;
    height: 20px;
    fill: $icon-color;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: $title-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    background-color: $main-color;
  }
  &__link:not(:last-child) {
    margin-right: 10px;
  }
}
.team-items__link:hover .team-items__icons {
  fill: $title-color;
}
.team-card {
  display: flex;
  &__items {
    background-color: $title-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__items:not(:last-child) {
    margin-right: 30px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $second-color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $description-color;
    text-align: center;
    padding-bottom: 16px;
  }
}
.team-title {
  margin-bottom: 50px;

  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
